@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  animation: load 1s cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes wave {
  from {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.waving {
  display: inline-block;
  animation: wave 1s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.emphasis {
  color: #309adb;
}

a {
  color: #309adb;
}

a:hover {
  opacity: 0.5;
}
