* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.link {
    color: #698;
}

.link:hover {
    color: #476;
}

.warning {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #ccc;
}

.greeting {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 72px;
}

.portfolio {
    margin: 144px;
}

.introduction {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #888;
}

.name {
    color: #698;
    font-weight: 700;
}

.tag {
    color: #eee;
    font-style: italic;
}

@media only screen and (max-width: 960px) {
    .portfolio {
        margin: 36px;
    }

    .greeting {
        font-size: 36px;
    }

    .introduction, .warning {
        font-size: 24px;
    }
}
